body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Homepage */


.home{
    background-color: rgb(176, 231, 238);
}
.home .welcome-message{
    background-color: antiquewhite;
    text-align: center;
    padding: 2px;
    margin: auto 40px;
    border: 5px solid black;
}
.home body{
    font-size: 32px;
}

.home .title{
    text-align: center;
    padding: 10px;
    margin: 10px 400px;

}
.home .recipe-list{
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px auto;
    border: 5px double black;
}
.home ul{
    display: inline-block;
}
.home ul .recipe{
    background-color: rgb(252, 209, 209);
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium';
    padding: 10px;
    margin: 10px auto;
    border: 2px inset black;
}
.home li{
    display: inline-block;
    padding: 10px;
    margin-left: 300px;
    margin-right: auto;
}
/* Recipes */

.recipesite{
    background-color: rgb(255, 198, 198);
}

.recipesite .title.recipe{
    text-align: center;
    background-color: blanchedalmond;
    border: 10px groove rgb(255, 228, 180);

}

.recipesite .recipeimage.burguer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 600px;
    border: 2px solid black;
}

.recipesite .recipeimage.hotcakes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 600px;
    border: 2px solid black;
}

.recipesite .recipeimage.frenchfries{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: auto;
    border: 2px solid black;
}

.recipesite .guide{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border: 10px solid rgb(71, 71, 71);
    margin: 10px auto;
}

.recipesite .description{
    text-align: center;
    padding: 5px;
    background-color: bisque;
    margin: 10px 400px;
    border: 5px dashed black;
}

.recipesite .guide .ingredients{
    background-color: hsl(150, 100%, 90%);
    padding: 10px;
    border: 5px double black;
    margin: 10px;
}

.recipesite .guide .ingredients span{
    font-style:italic;
}

.recipesite .guide .step-by-step{
    background-color: hsl(150, 100%, 90%);
    padding: 10px;
    border: 5px double black;
    margin: 10px;
}

.recipesite .ingredients li{
    margin: 4px;
    font-weight: bold;
}